.mendix-doom-container {
  background: #000;
  position: relative;
  overflow: hidden;
}

.mendix-doom-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.mendix-doom-container .w-12.flex-shrink-0,
.mendix-doom-container .sidebar {
  display: none !important;
}
